Dataset source/
figure/
figures.ipynb
results
scripts/*
!scripts/optimize_combination_model.py

build/
dist/
.venv-build-cpu/


local_artifacts/

Models/*transformer_spam_classifier/*
!Models/*transformer_spam_classifier/config.json
!Models/*transformer_spam_classifier/*token*.json



.ipynb_checkpoints/
*.nbconvert.ipynb

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
env/
venv/

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
