Dataset source/
figure/
figures.ipynb
results

local_artifacts/

Models/multilingual_transformer_spam_classifier/
Models/transformer_spam_classifier/

.ipynb_checkpoints/
*.nbconvert.ipynb

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
env/
venv/

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
